#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  /* background-color: rgb(255, 147, 5) !important; */

  background-image: url('../src/images/dragonSlayer2Full.jpg');

  min-height: 100vh;
  /* background-size: 60% 60%; */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;

}

/* style search bar border radius */
/* .search-bar {
  border-radius: px;
} */

.app-div {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  min-height: 90vh;
}

.rs-logo {

  height: 100px;
  width: 100px;
  margin-bottom: 10px;

}



hr {
  
  height: 2px;
  width: 50%;
  margin: auto !important;
  
}

.price-display-area h3.price {
  font-size: 40px;
  padding-right: 50px;
}

.main-container {
  border: 1px solid burlywood;
  background-color: rgb(233, 222, 207);
  border-radius: 29px;
  margin: 16px;
  padding: 20px;
  min-height: 250px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  /* align-items: center; */
}

/* background-image: linear-gradient(rgba(0, 0, 255, 0.5), rgba(255, 255, 0, 0.5)),
                  url("../../media/examples/lizard.png"); */

.main-container-underlay {

  border: 1px solid brown;
  border-radius: 40px;
  margin-top: 20px;
  /* background-image: linear-gradient(rgba(0, 0, 255, 0.5), rgba(255, 255, 0, 0.5)),
                  url("../../media/examples/lizard.png"); */
  /* background-image: url('../src/images/AGS.webp'); */
  /* background: cadetblue; */
  /* background-repeat: repeat;
  background-size: 50px 50px; */

  background: 
    url('../src/images/AGS.webp'),
    linear-gradient(rgba(0, 0, 255, 0.5), rgba(255, 255, 0, 0.5));
    background-size: 50px 50px, auto;
    background-repeat: repeat, no-repeat;

}

/* .top-half {
  
display: grid;
grid-template-rows: 1fr;
grid-template-columns: 1fr 1fr;
gap: 75px;
height: 100%;
width: 100%;
justify-content: space-between;
align-items: center;

} */

.top-half {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.item-display-area {

  border: 1px solid burlywood;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;

}

.item-icon {
  height: 70px;
  width: 70px;
  margin: 10px;
  /* height: 100%;
  width: 100%: */
}

/* .bottom-half {
  
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr;
  gap: 100px;
  height: 100%;

} */

.bottom-half {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  gap: 100px;
}

.item-name {
  font-size: 25px;
}

#search {

  margin-left: 10px;

}

/* hides placeholder text on input when user clicks to search */
input:focus::-webkit-input-placeholder {
  color: transparent;
}

.bottom-image {
  max-width: 480px;
  max-height: 270px;
  margin: 35px;
}

.footer-container {

  display: flex;
  justify-content: space-around;

}

.footer-btn {

  background: none;
  font-weight: 200;

}

